biopython
langchain
langgraph
fastapi
uvicorn
langchain-text-splitters
langchain-community
langchain-huggingface
langchain_chroma
python-dotenv
transformers
torch
sentence-transformers
IPython
pydantic
websockets
langchain-google-genai